<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>KongRuksiam Shop</title>
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <script src="js/jquery-3.4.1.slim.min.js"></script>
        <script src="js/popper.min.js" ></script>
        <scrip src="js/bootstrap.min.js" />
        <link rel="stylesheet" href="css/all.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-dark">
            <a href="/" class="navbar-brand"><img src="images/home/logo.png"></a>
            <ul class="navbar-nav">
                <li >
                    <a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" href="/add-product" >บันทึกสินค้า</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <h2>จัดการสินค้า</h2>
            <p>เพิ่ม ลบ แก้ไขข้อมูลในฐานข้อมูล</p>            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ชื่อสินค้า</th>
                        <th>ราคา</th>
                        <th>รายละเอียด</th>
                        <th>ลบ</th>
                        <th>แก้ไข</th>
                    </tr>
                </thead>
                <tbody>
                    <% Object.values(product).forEach((item)=>{%>
                        <tr>
                            <td><%= item.name %></td>
                            <td><%= item.price %></td>
                            <td><%= item.description %></td>
                            <td><a href="/delete/<%= item._id%>" class="btn btn-danger" onclick="return confirm('Do you want to delete this product?')">ลบ</a></td>
                            <td><button class="btn btn-primary">แก้ไข</button></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </body>
</html>
