<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <a href="/" class="navbar-brand"><img src="images/home/logo.png"></a>
    <ul class="navbar-nav">
        <li >
            <a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" href="/manage">จัดการสินค้า</a>
            <a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" href="/add-product" >บันทึกสินค้า</a>
        </li>
    </ul>
</nav>