<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>รายละเอียดสินค้า</title>
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <script src="js/jquery-3.4.1.slim.min.js"></script>
        <script src="js/popper.min.js" ></script>
        <scrip src="js/bootstrap.min.js" />
        <link rel="stylesheet" href="css/all.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-dark">
            <a href="/" class="navbar-brand"><img src="images/home/logo.png"></a>
            <ul class="navbar-nav">
                <li >
                    <a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" href="/manage">จัดการสินค้า</a>
                    <a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" href="/add-product" >บันทึกสินค้า</a>
                </li>
            </ul>
        </nav>
        <% if(product) {%>
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="card mt-4">
                            <img class="card-img-top img-fluid" src="images/products/<%= product.image %>" alt="" />
                            <div class="card-body">
                                <h3 class="card-title"><%= product.name %></h3>
                                <h4><%= product.price %></h4>
                                <p class="card-text"><%= product.description %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </body>
</html>
